service: github-board-integrations

plugins:
  - serverless-plugin-typescript

provider:
  name: aws
  region: us-east-1
  stage: dev
  runtime: nodejs14.x
  logRetentionInDays: 7
  architecture: arm64
  deploymentMethod: direct

functions:
  notifications:
    handler: src/handlers/notifications.run
    url: true
    maximumRetryAttempts: 0
    timeout: 5
    memorySize: 128
    environment: ${file(config/notifications.yml)}

  pull-requests:
    handler: src/handlers/pull-requests.run
    url: true
    maximumRetryAttempts: 0
    timeout: 5
    memorySize: 128
    environment: ${file(config/pull-requests.yml)}

  tester:
    handler: src/handlers/tester.run
    url: true
    maximumRetryAttempts: 0
    timeout: 5
    memorySize: 128
    environment: ${file(config/tester.yml)}

  documentation:
    handler: src/handlers/documentation.run
    url: true
    maximumRetryAttempts: 0
    timeout: 5
    memorySize: 128
    environment: ${file(config/documentation.yml)}
